% GLOBAL
  initPop = default 250                      #(string) initial population to start MABE (if it's .plf syntax it will be parsed as if preceded by "MASTER = ". If
                                             #  it's a file name with .plf that population loader file is parsed
  mode = run                                 #(string) mode to run MABE in [run,visualize,analyze]
  outputPrefix = ./                          #(string) Directory and prefix specifying where data files will be written
  randomSeed = 101                           #(int) seed for random number generator, if -1 random number generator will be seeded randomly
  updates = 3000                              #(int) how long the program will run

% ARCHIVIST
  outputMethod = Default                     #(string) output method, [Default]

% ARCHIVIST_DEFAULT
  filePrefix = NONE                          #(string) prefix for files saved by this archivst. "NONE" indicates no prefix.
  popFileColumns =                           #(string) data to be saved into average file (must be values that can generate an average). If empty, MABE will try
                                             #  to figure it out
  realtimeSequence = :10                     #(string) How often to write to realtime data files. (format: x = single value, x-y = x to y, x-y:z = x to y on x,
                                             #  :z = from 0 to updates on z, x:z = from x to 'updates' on z) e.g. '1-100:10, 200, 300:100'
  snapshotDataSequence = :100                #(string) How often to save a realtime snapshot data file. (format: x = single value, x-y = x to y, x-y:z = x to y
                                             #  on x, :z = from 0 to updates on z, x:z = from x to 'updates' on z) e.g. '1-100:10, 200, 300:100'
  snapshotOrganismsSequence = :1000          #(string) How often to save a realtime snapshot genome file. (format: x = single value, x-y = x to y, x-y:z = x to
                                             #  y on x, :z = from 0 to updates on z, x:z = from x to 'updates' on z) e.g. '1-100:10, 200, 300:100'
  writeMaxFile = 1                           #(bool) Save data to Max file?
  writePopFile = 1                           #(bool) Save data to average file?
  writeSnapshotDataFiles = 0                 #(bool) if true, snapshot data files will be written (with all non genome data for entire population)
  writeSnapshotOrganismsFiles = 0            #(bool) if true, snapshot organisms files will be written (with all organisms for entire population)

% OPTIMIZER
  optimizer = NSGA                           #(string) optimizer to be used, [NSGA]

% OPTIMIZER_NSGA
  optimizeFormulaNames = default             #(string) column names to associate with optimize formulas in data files.
                                             #  'default' will auto generate names as optimizeValue_1, optimizeValue_2, ...
  optimizeFormulas = DM_AVE[score],DM_AVE[lp]           #(string) values to optimize with NSGA selection (list of MTrees)
                                             #  example for BerryWorld: [DM_AVE[food1],DM_AVE[food2],(0-DM_AVE[switches])]

% PARAMETER_FILES
  commentIndent = 45                         #(int) minimum space before comments
  maxLineLength = 160                        #(int) maximum line length

