#Resource count (RC 3)
RC 4,8,16,32
#graph height (GH 6) 
GH 5,10,25
#task count (TC 20)
TC 200
#average out_degree (AOD 2)
AOD 3
#communication to computation ratio (CCR 2.0)
CCR 0.1,1.0,10.0
#Heterogenity factor (HF 0.5)
# 0 <= HF < 1
HF 0.2,0.5,0.9

#Communication data packet range (CDR 10 100)
CDR 10 1000
#Link Bandwidth range (LBW 10 100)
LBW 10 100

#RANDOM seed value SEED
SEED 9000
# HEFT ROOT PATH
ROOT /mnt/home/dikbayir/CSE845/Tutorial/200NodeExperiments
